.video_container {
  position: relative;
}
.video_container .controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.video_container .controls ion-icon {
  color: white;
}
.video_container video {
  max-height: 70vh;
  width: 100%;
  object-fit: cover;
  background: black;
}
.video_container video.playing {
  object-fit: contain;
}
