.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
.feed {
  background: #eee;
  min-height: 100%;
  padding: 5px 0;
}
@media (prefers-color-scheme: darks) {
  .feed {
    background: none;
  }
}
body.dark .feed {
  background: none;
}
